<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 90vh">

  <div class="row">
    <div class="col-12 flex-1">
      <h1 class='fw-bold fs-1' style="font-family: 'LumieraRough'">Budget App</h1>
      <div class="d-flex align-items-center flex-column fixed-bottom gap-2 mb-4" >
      <%= link_to "Sign Up", new_user_registration_path, class: "text-center text-decoration-none fs-3 text-white col-11", style: "background: #3778c2;"  %>
<%= link_to "Log In", new_user_session_path, class: "text-center text-decoration-none fs-3 text-white col-11", style: "background: #3778c2;" %>
</div>
    </div>
  </div>
</div>

